@charset "utf-8";
/* CSS Document */

.SideBar{
	float:left;
	height: 678px;
	border: 5px solid black;
	border-radius: 45px;
	width: 8%;
	margin: 10px;
	box-shadow: 0px 5px 10px 5px #003;
	background-color: aliceblue;
	
}

.mainParagraph{
	margin:2%;
}
.sideIcon{
	width: 100px;
	padding: 10px;
	padding-top: 20px;
}

.mainIntel{
	height: 500px;
	margin-left: 11%;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 12%;
	border: 5px solid black;
	float: inherit;
	border-radius: 45px;
	box-shadow: 0px 5px 10px 5px #003;
	background-color: aliceblue;
}

.emailTitleMain{
	/*The main focus is the border to create a visual appearance*/
	border: 5px solid black;
	heigt: 20px;
	width: 88%;
	margin: 10px;
	border-radius: 45px;
	box-shadow: 0px 5px 10px 5px #003;
	background-color: aliceblue;
	float: left;
	
	
}
/*This is the styling for the class emailTitle*/
.emailTitle{
	/*The main focus is the border to create a visual appearance*/
	border: 5px solid black;
	border-radius: 45px;
	margin: 10px;
	box-shadow: 0px 5px 10px 5px #003;
	background-color: aliceblue;
	
	
}
/*This is specifically for the icon*/
.icon{
	width: 30%;
	padding: 1%;
	float: left;
	
}

/*This is all the settings to keep the email in the correct place*/
.email{
	text-align: left;
	font-size: 50px;
	padding-bottom: .25%;
	padding-top: 0.25%;
}
/*This is to keep the header in the center and the icon in the left*/

.work{
	float: left;
	width: 50%;
}

.education{
	float: left;
	width: 50%;
	
}
h1{
	
}

h2{
	font-size: 25px;
}
li{
	margin-left: 1%;
	font-size: 20px;
	margin-bottom: 1%;
}
/*This is the styling for the information in the center of the page*/
.intelBody{
	/*This is a temperary number since I don't have information to put on the page*/
	height: 700px;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	
}

/*This styles the main section that contains everything else*/
body{
	border: 5px solid black;
	border-radius: 45px;
	margin: 10px;
	box-shadow: 0px 5px 10px 5px #003;
	background-color:antiquewhite;
	
}

